{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div id="storeTemplate" style="display:none">
    <div class="d-flex justify-content-between LocationTemplate template-stripped"  id="templateItem">
        <button type="button" class="btn btn-danger btn-delete" js-id="0" onclick="DeleteCustom(this)">delete</button>
    </div>
</div>
<div class="col-12 d-flex justify-content-around mb-3" >
    <div class="cursor-pointer" onclick="SwitchTemplate(0)">Villes</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(1)">Endroits</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(2)">Utilisateurs</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(3)">Organisations</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(4)">Evenements</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(5)">Etats</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(6)">Questions</div>
</div>
<div class="container">
<form id="newform" class="d-none">
        <input class="form-control mt-3" id="NameInput" placeholder="Nom"/>
        <input class="form-control mt-3" id="LatitudeInput" placeholder="Latitude"/>
        <input class="form-control mt-3" id="LongitudeInput" placeholder="Longitude"/>
        <input class="form-control mt-3" id="ZipCodeInput" placeholder="ZipCode"/>
        <input class="form-control mt-3" id="AdressInput" placeholder="Adresse"/>
        <select class="form-control mt-3" id="CityIdInput">
        </select>
        <button type="button" class="btn btn-primary mt-3" onclick="AddCustom()">Envoyer</button>
    </form>
<!-- BLOC CONTAINER DE FORMS-->
    <div class="categoryContainer d-none py-3" id="CityContainer">
    <div class="d-flex justify-content-between ">
        <h3 class="flex-1">Ajouter une ville</h3>
        <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="showAddForm()"></i>
    </div>
    {# {{ form_start(new_cityForm, {'attr': {'id': 'newCityForm'}}) }}
        <div class="form-outline mb-3">
            <label class="form-label" for="form3Example1cg">Name</label>
            {{ form_widget(new_cityForm.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" for="form3Example1cg">ZipCode</label>
            {{ form_widget(new_cityForm.zipCode, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="button" class="btn btn-primary" onclick="AddCity()">Valider</button>
    {{ form_end(new_cityForm) }} #}
    <div id="listCity" class="stripped mt-3"></div>
    </div>
    <div class="categoryContainer d-none  py-3" id="LocationContainer">
        
        
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Lieux</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="showAddForm()"></i>
        </div>
        
        <div id="listLocation" class="stripped mt-3"></div>
    </div>
    <div class="categoryContainer d-none py-3" id="UsersContainer">
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Utilisateurs</h3>
        </div>
       <input class="form-control" placeholder="Rechercher" id="searchUser" onkeyup="SearchUsers(this.value)"/>
        <div id="listUsers" class="stripped mt-3"></div>
    </div>
    <div class="categoryContainer d-none py-3" id="SiteContainer">
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Sites</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="showAddForm()"></i>
        </div>
        <div id="listSite" class="stripped mt-3"></div>
    </div>
    <div class="categoryContainer d-none py-3" id="EventContainer">
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Evenements</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="showAddForm()"></i>
        </div>
        <div id="listEvent" class="stripped mt-3"></div>
    </div>
    <div class="categoryContainer d-none py-3" id="StateContainer">
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Etats</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="showAddForm()"></i>
        </div>
        <div id="listState" class="stripped mt-3"></div>
    </div>
    <div class="categoryContainer d-none py-3" id="QuestionContainer">
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Questions</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="showAddForm()"></i>
        </div>
        <div id="listQuestion" class="stripped mt-3"></div>
    </div>
</div>


{% endblock %}
