{% extends 'base.html.twig' %}

{% block title %}Mot passe oublié{% endblock %}

{% block body %}

 {{ form_start(ForgotPassForm, {'attr': {'id': 'registrationForm'}})  }}
 <div class="form-group">
            <label for="Pseudo">Pseudo</label>
            <input type="text" class="form-control" id="Pseudo" aria-describedby="Pseudo" placeholder="pseudo" name="_username">
               <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Question secrète : </label>
                    {{question}}
                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Réponse :</label>
                    {{ form_widget(ForgotPassForm.reponse, {'attr': {'class': 'form-control'}}) }}
                </div> 
<button type="submit" class="btn btn-primary">Confirmer</button>
  {{ form_end(ForgotPassForm) }}

{% endblock %}
