{% extends 'base.html.twig' %}

{% block title %}Mot passe oublié{% endblock %}

{% block body %}

 {{ form_start(ForgotPassPseudoForm)}}  
 <div class="form-group">
    <label for="Pseudo">Pseudo</label>
     {{ form_widget(ForgotPassPseudoForm.pseudo, {'attr': {'class': 'form-control'}}) }}
<button type="submit" class="btn btn-primary">Confirmer</button>
  {{ form_end(ForgotPassPseudoForm) }}

{% endblock %}

