{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1 class="text-primary">Soirées près de chez vous</h1 >
<div class="sortiesContainer container d-flex col-12 m-0 p-3">
    <div class="sortie_item  col-12 col-md-3 col-xl-2 p-2 rounded">
        <img src="https://via.placeholder.com/300" class="w-100" alt="miniature sortie"/>
        <div class="p-3 bg-white">
            <h4 class="text-primary">Titre</h4>
            <div>Description</div>
        </div>
    </div>
</div>

{% endblock %}
