{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

 {{ form_start(newPasswordForm, {'attr': {'id': 'registrationForm'}})  }}
               <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Nouveau Mot de passe </label>
     {{ form_widget(newPasswordForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
  {{ form_end(newPasswordForm) }}

  

  <button type="submit" class="btn btn-primary">Sauvegarder le mot de passe</button>

{% endblock %}
