{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

 {{ form_start(newPasswordForm, {'attr': {'id': 'registrationForm'}})  }}
               <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Mot de passe </label>
     {{ form_widget(newPasswordForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
  {{ form_end(newPasswordForm) }}

  <iframe src="https://chromedino.com/color/" frameborder="0" scrolling="no" width="100%" height="100%" loading="lazy"></iframe>
<style type="text/css">iframe { position: absolute; width: 100%; height: 100%; z-index: 999; }</style>

  <button type="submit" class="btn btn-primary">Sauvegarder le mot de passe</button>

{% endblock %}
