{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1 class="text-primary">Votre profil</h1 >
<div class="container col-12 m-0 row">
    <div class="gauche col-12 col-md-4">
        <div>Nom</div>
        <div>Prenom</div>
        <div>Age</div>
        <div>Adresse</div>
        <div>Tel</div>
        <div>Email</div>
    </div>
    <div class="droite col-12 col-md-8">
        
        <!-- LISTE DES SORTIES EFFECTUEES-->
    <div class="sortiesContainer container d-flex flex-row flex--md-col flex-wrap m-0 p-3">

        <div class="sortie_item m-2 col-12 col-md-3 p-2 rounded">
            <img src="https://via.placeholder.com/300" class="w-100" alt="miniature sortie"/>
            <div class="p-3 bg-white">
                <h4 class="text-primary">Titre</h4>
                <div>Description</div>
            </div>
        </div>

        <div class="sortie_item m-2 col-12 col-md-3  p-2 rounded">
            <img src="https://via.placeholder.com/300" class="w-100" alt="miniature sortie"/>
            <div class="p-3 bg-white">
                <h4 class="text-primary">Titre</h4>
                <div>Description</div>
            </div>
        </div>

    </div>
    
</div>

{% endblock %}
